# Compiler files
cache/
out/
cache_hardhat/
artifacts/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
docOut/

# Dotenv file
.env
# node_modules
node_modules/
/history
/ERCSpecification
*.dbg.json

# Codex
.codex

#drawio
*.bkp
*.dtmp
